exportPattern("^[[:alpha:]]+")
import("RPostgreSQL")
import("yaml")
import("dplyr")
import("knitr")
import("rlang")
import("stringr")
import("tidyr")
import("readr")
import("ggplot2")
import("ggrepel")
importFrom("stringdist", "stringdistmatrix", "stringdist")
import("foreach")
